<div style="height:200px; width:100%;">
    <h3>I am Page 4</h3>
    <button id="button2">Click to Load Page 1</button>
    <iframe id="page2frame" onload="resizeFrame"></iframe>
    </div>
    <script>
        $("#button2").click(function (e) {
            $("#page2frame").attr("src", "/home/page1");
        });
        function resizeFrame(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
    </script>
