<div style="height:200px; width:100%;">
    <h3>I am Page 1</h3>
    <button id="button1">Click to Load Page 2</button>
    <iframe id="page1frame" onload="resizeFrame" src="/home/page2"></iframe>
</div>
<script>
    $("#button1").click(function (e) {
        $("#page1frame").attr("src", "/home/page2");
    });
    function resizeFrame(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }  
</script>
